CREATE TABLE %tableName%
(
    id             INT         NOT NULL AUTO_INCREMENT,
    ts             TIMESTAMP   NOT NULL DEFAULT CURRENT_TIMESTAMP,
    value          CHAR(32)    NOT NULL,
    length         INT         NOT NULL,
    PRIMARY KEY    (id)
)
ENGINE = InnoDB;
